language: cpp
os: linux
dist: precise

matrix:
  include:
    # Clang 3.5
    - env: CC=clang-3.9 CXX=clang++-3.9
      addons: { apt: { packages: ["clang-3.9"], sources: ["llvm-toolchain-trusty-3.9"] } }

before_script:
  - mkdir build
  - cd build
  - cmake ..

script: 
  - make
