language: cpp

matrix:
  include:

    # GCC 5
    - env: COMPILER=g++-5 CMAKE_OPTIONS=""
      addons: { apt: { packages: ["g++-5", "cmake"], sources: ["ubuntu-toolchain-r-test"] } }

    # GCC 6
    - env: COMPILER=g++-6 CMAKE_OPTIONS=""
      addons: { apt: { packages: ["g++-6", "cmake"], sources: ["ubuntu-toolchain-r-test"] } }

    # GCC 7
    - env: COMPILER=g++-7 CMAKE_OPTIONS=""
      addons: { apt: { packages: ["g++-7", "cmake"], sources: ["ubuntu-toolchain-r-test"] } }

    # GCC 8
    - env: COMPILER=g++-8 CMAKE_OPTIONS=""
      addons: { apt: { packages: ["g++-8", "cmake"], sources: ["ubuntu-toolchain-r-test"] } }

    # GCC 9
    - env: COMPILER=g++-9 CMAKE_OPTIONS=""
      addons: { apt: { packages: ["g++-9", "cmake"], sources: ["ubuntu-toolchain-r-test"] } }

    # Clang 5.0
    - env: COMPILER=clang++-5.0 CMAKE_OPTIONS=""
      addons: { apt: { packages: ["g++-5", "clang-5.0", "cmake"], sources: ["ubuntu-toolchain-r-test"] } }

    # Clang 6.0
    - env: COMPILER=clang++-6.0 CMAKE_OPTIONS=""
      addons: { apt: { packages: ["g++-5", "clang-6.0", "cmake"], sources: ["ubuntu-toolchain-r-test"] } }

    # Clang 7.0
    - env: COMPILER=clang++-7.0 CMAKE_OPTIONS=""
      addons: { apt: { packages: ["g++-5", "clang-7.0", "cmake"], sources: ["llvm-toolchain-xenial-7"] } }

    # Clang 8.0
    - env: COMPILER=clang++-8.0 CMAKE_OPTIONS=""
      addons: { apt: { packages: ["g++-5", "clang-8.0", "cmake"], sources: ["llvm-toolchain-xenial-7"] } }

install:
  - export CXX=${COMPILER}
  - ${CXX} --version
  - cmake --version

before_script:
  - mkdir build
  - cd build
  - cmake ${CMAKE_OPTIONS} ..

script: 
  - cmake --build .
